<!--
  Generated template for the PhotoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="heade">
        <ion-title text-center>Gallery</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding style="background:beige">
    <ion-col col-6 *ngFor="let photo of photos; let id = index">
        <ion-card class="block">
            <button ion-button btn block color="dugme" class="deleteIcon" (click)="deletePhoto(id)">
                <ion-icon name="trash"></ion-icon>
            </button>
            <img [src]="photo" *ngIf="photo"/>
        </ion-card>
    </ion-col>
    <button ion-button btn block color="dugme" (click)="takePhoto()">Take Photo</button>
</ion-content>
